<div class="wrapper wrapper-content animated">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <div class="row">
            <div class="col-md-6">
              <h2>
                <strong>Despacho</strong>
              </h2>
            </div>
            <div class="col-md-6">
              <div class="pull-right" id="botonera">
                <!-- ACA DEBERIA IR UN NGIF PARA CAMBIAR EL BOTON SI ES GUARDAR O ACTUALIZAR -->
                <button id="bt_guardar" onclick="guardaoactualiza(event)" data-action="guardar" type="button" class="btn btn-success dim btn-sm">Guardar &nbsp;&nbsp;
                  <i class="fa fa-floppy-o"></i>
                </button>
                <button type="button" class="btn btn-danger dim btn-sm" routerLink="/despacho" >Volver &nbsp;&nbsp;
                  <i class="fa fa-close"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <div class="gray-bg wrapper wrapper-content " id="Abajo">
            <div class="row">
              <!-- ay -->
              <div class="container">
                <div class="stepwizard">
                  <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3">
                      <a type="button" [class]="transporte" (click)="setMenu(1)">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                      </a>
                      <p>
                        <small>Transporte</small>
                      </p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                      <a type="button" [class]="despacho" (click)="setMenu(2)">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                      </a>
                      <p>
                        <small>Despacho</small>
                      </p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                      <a type="button" [class]="guia" (click)="setMenu(3)">
                        <i class="fa fa-file" aria-hidden="true"></i>
                      </a>
                      <p>
                        <small>Guia</small>
                      </p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                      <a type="button" [class]="despachar" (click)="setMenu(4)">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                      </a>
                      <p>
                        <small>Despachar</small>
                      </p>
                    </div>
                  </div>
                </div>

                <div role="form">
                  <div *ngIf="id==1">
                    <div class="panel panel-primary setup-content">
                      <div class="panel-heading">
                        <h3 class="panel-title">Transporte</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Numero despacho</label>
                              <input value="{{datosCamion.num_regPort}}" id="correlativo" class="form-control border-input" readonly />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Estado</label>
                              <input value="" class="form-control border-input" readonly />
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Fecha salida</label>
                              <div class="input-group date">
                                <input class="form-control" id="fec_sal" value="{{fechaHoy}}" type="text">
                                <span class="input-group-addon">
                                  <i class="fa fa-calendar"></i>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Tipo transporte</label>
                              <select  id="selectTipoTransporte" class="form-control border-input">
                                <option  *ngFor="let transporte of listaTipoTransporte" value="{{transporte.Cod_TipTransSAG}}">{{transporte.Nom_TipTransSAG}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Rut chofer</label>
                              <div class="input-group">
                                <input class="form-control" value="{{datosChofer.rut_chofer}}"  type="text" readonly>
                                <span (click)="obtenerChoferes()" class="input-group-addon btn-primary" data-toggle="modal" data-target="#modalChofer">
                                  <i class="fa fa-search" aria-hidden="true" ></i>
                                </span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label>Tara</label>
                              <input id="tara" class="form-control border-input" />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Tipo vehiculo</label>
                              <select id="selectTipoVehiculo" class="form-control border-input">
                                <option *ngFor="let vehiculo of listaTipoVehiculo" value="{{vehiculo.cod_tipoVehiculo}}">{{vehiculo.nom_tipoVehiculo}}</option>
                              </select>
                            </div>
                            <div class="form-group">
                              <label>Nombre chofer</label>
                              <input value="{{datosChofer.nom_chofer}}" id="nombrechofer" class="form-control border-input" readonly />
                            </div>
                            <div class="form-group">
                              <label>Termografo</label>
                              <input class="form-control border-input" />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Patente camion</label>
                              <input value="{{datosCamion.patente}}" readonly class="form-control border-input" />
                            </div>
                            <div class="form-group">
                              <label>Transporte</label>
                              <div class="input-group">
                                <input class="form-control" value="{{datosTransporte.rut_agTransp}}" type="text" readonly>
                                <span (click)="obtenerTransportes()" class="input-group-addon btn-primary" data-toggle="modal" data-target="#modalTransporte">
                                  <i class="fa fa-search" aria-hidden="true" ></i>
                                </span>
                              </div>
                            </div>



                            <div class="form-group">
                              <label>Booking</label>
                              <input class="form-control border-input" />
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="form-group">
                              <label>Patente carro</label>
                              <input value="{{datosCamion.patente_carro}}" class="form-control border-input" readonly/>
                            </div>
                            <div class="form-group">
                              <label>Nombre transporte</label>
                              <input value="{{datosTransporte.nom_agTransp}}" class="form-control border-input" readonly/>
                            </div>
                            <div class="form-group">
                              <label>Contenedor</label>
                              <input value="{{datosCamion.num_contenedor}}" class="form-control border-input" />
                            </div>
                            <button class="btn btn-primary nextBtn pull-right" type="button" (click)="setMenu(2)">Siguiente</button>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                  <div *ngIf="id==2">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="panel panel-primary setup-content">
                          <div class="panel-heading">
                            <h3 class="panel-title">Info. SAG</h3>
                          </div>
                          <div class="panel-body">
                            <div class="row">

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Condicion</label>
                                  <select id="selectCondicion" class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>N° planilla</label>
                                  <input type="number" class="form-control border-input" />
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Tipo planilla</label>
                                  <select class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-8">
                                <div class="form-group">
                                  <label>Producto SAG</label>
                                  <select class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="panel panel-primary setup-content">
                          <div class="panel-heading">
                            <h3 class="panel-title">Sellos</h3>
                          </div>
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Tipo sello</label>
                                  <select id="selectTipoSello" class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>Ubicacion sello</label>
                                  <select class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Cant. sellos</label>
                                  <input type="number" class="form-control border-input" />
                                </div>
                                <div class="form-group">
                                  <label>N° sellos Nav.</label>
                                  <input class="form-control border-input" />
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>N° sellos Plan.</label>
                                  <input type="number" class="form-control border-input" />
                                </div>
                                <div class="form-group">
                                  <label>N° sellos USDA</label>
                                  <input type="number" class="form-control border-input" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-primary setup-content">
                          <div class="panel-heading">
                            <h3 class="panel-title">Otros</h3>

                          </div>
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label>Jefe turno</label>
                                  <select id="selectJefeTurno" class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <label>Camarero</label>
                                  <select id="selectCamarero" class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <div class="col-sm-12">
                                    <label>Origen Desp.</label>
                                  </div>
                                  <div class="col-sm-5">
                                    <input type="radio" id="origensag" name="origen" value="SAG" class="form-control border-input" style="display:inline-block;height: 15px; width: 15px; "
                                    />
                                    <h5 style="display:inline-block;">SAG</h5>
                                  </div>
                                  <div class="col-sm-7">
                                    <input type="radio" id="origendelegado" name="origen" value="DELEGADO" class="form-control border-input" style="display:inline-block; height: 15px; width: 15px; "
                                    />
                                    <h5 style="display:inline-block;">DELEGADO</h5>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label>Observaciones</label>
                                  <input value="" id="observacion" class="form-control border-input" />
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label>Despachador</label>
                                  <input value="" id="despachador" class="form-control border-input" />
                                </div>
                                <div class="form-group">
                                  <label>Deposito contenedor</label>
                                  <select id="selectDepositoContenedor" class="form-control border-input">
                                    <option value=""></option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label>Resp.</label>
                                  <input value="" id="respuerto" class="form-control border-input" />
                                </div>
                                <div class="form-group">
                                  <label>Total pallets</label>
                                  <input type="number" value="" id="totalpalets" class="form-control border-input" />
                                </div>
                                <button class="btn btn-primary nextBtn pull-right" type="button" (click)="setMenu(3)">Guardar despacho</button>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- GUIAS -->
                  <div *ngIf="id==3">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-primary setup-content">
                          <div class="panel-heading">
                            <h3 class="panel-title">Informacion de guía</h3>
            
                          </div>
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-md-2">
                                <div class="form-group">
                                  <label>N° de guía</label>
                                  <input class="form-control border-input" type="number" />
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-group">
                                  <label>N° instructivo</label>
                                  <input class="form-control border-input" type="number" />
                                </div>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label>Recibidor</label>
                                  <input class="form-control border-input" />
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Fecha zarpa</label>
                                  <input class="form-control border-input" type="datetime" />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Exportadora</label>
                                  <input class="form-control border-input" type="text" readonly/>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Bodega</label>
                                  <input class="form-control border-input" type="text" />
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Cond. pallet</label>
                                  <input class="form-control border-input" type="number" />
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Total pallets</label>
                                  <input class="form-control border-input" type="number" />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-8">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Nombre exportadora</label>
                                      <input type="text" class="form-control border-input" />
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Booking</label>
                                      <input type="text" class="form-control border-input" />
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>Ag. Aduana</label>
                                      <input type="text" class="form-control border-input" />
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>Puerto origen</label>
                                      <input type="text" class="form-control border-input" />
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label>Puerto destino</label>
                                      <input type="text" class="form-control border-input" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label class="control-label">Observaciones</label>
                                  <textarea type="text" class="form-control border-input"></textarea>
                                </div>
                                <button class="btn btn-primary nextBtn pull-right" type="button">Guardar guía</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-primary setup-content">
                          <div class="panel-heading">
                            <h3 class="panel-title">Pallets</h3>
                          
                          </div>
                          <div class="panel-body">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label>Agregar pallet</label>
                                  <div class="input-group">
                                    <input class="form-control" type="text">
                                    <span class="input-group-addon">
                                      <i class="fa fa-plus"></i>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>


                            <div class="row">
                              <div class="col-md-2" style="text-align:center;">
                                <hr>
                                <h4>Cantidad de Pallets</h4>
                                <svg width="100" height="100" viewBox="0 0 100 100">
                                  <circle cx="50" cy="50" r="40" stroke="#006600" stroke-width="2" fill="#00cc00" />
                                  <text font-size="36" fill="white" font-family="Verdana" text-anchor="middle" alignment-baseline="baseline" x="50" y="63">1</text>
                                </svg>
                                <hr>
                              </div>
                              <div class="col-md-10">
                                <div class="table-responsive">
                                  <table class="table table-condensed">
                                    <thead>
                                      <tr>
                                        <th>Folio</th>
                                        <th>Termografo</th>
                                        <th>Fecha de Carga</th>
                                        <th>N° Lote</th>
                                        <th>Kilos</th>
                                        <th>Cajas</th>
                                        <th>Especie</th>
                                        <th>Variedad</th>
                                        <th>Envase</th>
                                        <th>Calibre</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>F121856314</td>
                                        <td>911091</td>
                                        <td>4/4/2018 4:41:40</td>
                                        <td>613</td>
                                        <td>1320</td>
                                        <td>1</td>
                                        <td>Cebolla</td>
                                        <td>Valenciana</td>
                                        <td>400</td>
                                        <td>2 (10)</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                  <div>
                                    <label style="display:inline-block;">Total de cajas</label>
                                    <input readonly type="number" class="form-control border-input" style="width:100px;" />
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>





                  <div class="panel panel-primary setup-content" *ngIf="id==4">
                    <div class="panel-heading">
                      <h3 class="panel-title">Cargo</h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Company Address</label>
                        <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address" />
                      </div>
                      <button class="btn btn-success pull-right" type="submit">Finish!</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ay -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




  
  <!-- Modal -->
  <div *ngIf="modalChofer==true"  class="modal fade" id="modalChofer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Lista Choferes</h4>
        </div>
        <div class="modal-body">
          <input (keyup)="filtroChofer($event)" type="text" class="form-control" placeholder="Buscar...">
            <table class="table table-striped" id="table-camion">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Fono</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody id="">
                    <tr *ngFor="let chofer of listaChoferes | paginate: { itemsPerPage: 10, currentPage: chofer }">
                        <td>{{chofer.nom_chofer}}</td>
                        <td>{{chofer.rut_chofer}}</td>
                        <td>{{chofer.fono}}</td>
                        <td class="text-center">
                            <button (click)="setChofer(chofer)" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="listaChoferes.length ==0" class="text-center">
                <i class="fa fa-spin fa-spinner"></i>
              </div>
            <div *ngIf="listaChoferes.length > 9 " class="text-center mt-3">
                <pagination-controls previousLabel="" nextLabel="" (pageChange)="chofer = $event"></pagination-controls>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal -->
  <div *ngIf="modalTransporte==true" class="modal fade" id="modalTransporte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header btn-primary">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Lista Transportes</h4>
        </div>
        <div class="modal-body">
            <input (keyup)="filtroTransporte($event)" type="text" class="form-control" placeholder="Buscar...">
            <table class="table table-striped" id="table-camion">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Fono</th>
                        <th>Seleccionar</th>
                    </tr>
                </thead>
                <tbody id="">
                    <tr *ngFor="let transporte of listaTransporte | paginate: { itemsPerPage: 10, currentPage: transporte }">
                        <td>{{transporte.nom_agTransp}}</td>
                        <td>{{transporte.rut_agTransp}}</td>
                        <td>{{transporte.fono}}</td>
                        <td class="text-center">
                            <button (click)="setTransporte(transporte)" type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="listaTransporte.length == 0" class="text-center">
              <i class="fa fa-spin fa-spinner"></i>
            </div>
            <div *ngIf="listaTransporte.length > 9 " class="text-center mt-3">
                <pagination-controls previousLabel="" nextLabel="" (pageChange)="transporte = $event"></pagination-controls>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger " data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  