<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><strong>Gestion de Frigorifico</strong></h2>
                        </div>

                        <div class="col-md-6">
                            
                        </div>
                    </div>
                </div>
                <div class="ibox-content" style="padding-bottom: 10px;">
                    <div class="row" id="Arriba">
                        <div class="col-lg-12">
                            <div class="tabs-container">

                                <ul class="nav nav-tabs">
                                    <li [class]="despachar" (click)="setMenu(1)"   style="position:static"><a  data-toggle="tab" aria-expanded="true"> Por despachar<span class="badge  badge-warning" style="float:right; margin-top:-15px;margin-right:-20px;"></span></a></li>
                                    <li [class]="anden" (click)="setMenu(2)"  ><a  data-toggle="tab"  aria-expanded="false"> Anden de carga<span class="badge badge-warning" style="float:right; margin-top:-15px;margin-right:-20px">16</span></a></li>
                                    <li [class]="despachados" (click)="setMenu(3)"   style="position:static"><a  data-toggle="tab" aria-expanded="false"> Despachados<span id="contador3" class="badge badge-warning" style="float:right; margin-top:-15px;margin-right:-20px">16</span></a></li>
                                </ul>
                                <div  class="tab-content">
                                    <div *ngIf="id==1" id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <table style="width:100%">
                                                <tr>
                                                  <th>TAB 1</th>
                                                  <th>Lastnameasd</th> 
                                                  <th>Age</th>
                                                </tr>
                                                <tr>
                                                  <td>Jill</td>
                                                  <td><input type="text" [(ngModel)]="texto"> {{texto}} </td> 
                                                  <td>50</td>
                                                </tr>
                                                <tr>
                                                  <td>Eve</td>
                                                  <td>Jackson</td> 
                                                  <td>94</td>
                                                </tr>
                                              </table>
                                        </div>
                                    </div>
                                    <div *ngIf="id==2" id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <table style="width:100%">
                                                <tr>
                                                  <th>TAB 2</th>
                                                  <th>Lastnameasd</th> 
                                                  <th>Age</th>
                                                </tr>
                                                <tr>
                                                  <td>Jill</td>
                                                  <td>Smith</td> 
                                                  <td>50</td>
                                                </tr>
                                                <tr>
                                                  <td>Eve</td>
                                                  <td>Jackson</td> 
                                                  <td>94</td>
                                                </tr>
                                              </table>
                                        </div>
                                    </div>
                                    <div *ngIf="id==3" id="tab-1" class="tab-pane active">
                                        <div class="panel-body">
                                            <table style="width:100%">
                                                <tr>
                                                  <th>TAB 3</th>
                                                  <th>Lastnameasd</th> 
                                                  <th>Age</th>
                                                </tr>
                                                <tr>
                                                  <td>Jill</td>
                                                  <td>Smith</td> 
                                                  <td>50</td>
                                                </tr>
                                                <tr>
                                                  <td>Eve</td>
                                                  <td>Jackson</td> 
                                                  <td>94</td>
                                                </tr>
                                              </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>